.navbar {
    background-color: #004aad;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar h2 {
    color: #fff;
    margin: 0;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
  }
  
  .navbar ul li {
    margin-left: 20px;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  